/*Font-weight vars*/
$normal: 400;
$medium: 500;
$bold: 600;
$extrabold: 700;

/*Font vars*/
$base-font: 14px;

/*Colors vars*/
$purple: #a7a9fe;
$yellow: #fab702;
$purple-light: #d0a7fe;
$yellow-light: #fef9a7;
$green: #a7fedc;
$gray: #6d7396;
$pink: #fec0a7;
$gray-10: #f5f5f5;
$gray-20: #f8f8f8;
$gray-30: #f9f9f9;
$white: #fff;
$black: #3b404f;

/*Breakpoints variables (media queries)*/
$screen-width-md: 1170px;
